[data-vaul-drawer] {
	touch-action: none;
	transition: transform 0.5s cubic-bezier(0.32, 0.72, 0, 1);
}

[data-vaul-drawer][data-vaul-drawer-direction="bottom"] {
	transform: translate3d(0, 100%, 0);
}

[data-vaul-drawer][data-vaul-drawer-direction="top"] {
	transform: translate3d(0, -100%, 0);
}

[data-vaul-drawer][data-vaul-drawer-direction="left"] {
	transform: translate3d(-100%, 0, 0);
}

[data-vaul-drawer][data-vaul-drawer-direction="right"] {
	transform: translate3d(100%, 0, 0);
}

.vaul-dragging .vaul-scrollable [data-vaul-drawer-direction="top"] {
	overflow-y: hidden !important;
}

.vaul-dragging .vaul-scrollable [data-vaul-drawer-direction="bottom"] {
	overflow-y: hidden !important;
}

.vaul-dragging .vaul-scrollable [data-vaul-drawer-direction="left"] {
	overflow-x: hidden !important;
}

.vaul-dragging .vaul-scrollable [data-vaul-drawer-direction="right"] {
	overflow-x: hidden !important;
}

[data-vaul-drawer][data-vaul-drawer-visible="true"][data-vaul-drawer-direction="top"] {
	transform: translate3d(0, var(--snap-point-height, 0), 0);
}

[data-vaul-drawer][data-vaul-drawer-visible="true"][data-vaul-drawer-direction="bottom"] {
	transform: translate3d(0, var(--snap-point-height, 0), 0);
}

[data-vaul-drawer][data-vaul-drawer-visible="true"][data-vaul-drawer-direction="left"] {
	transform: translate3d(var(--snap-point-height, 0), 0, 0);
}

[data-vaul-drawer][data-vaul-drawer-visible="true"][data-vaul-drawer-direction="right"] {
	transform: translate3d(var(--snap-point-height, 0), 0, 0);
}

[data-vaul-overlay] {
	opacity: 0;
	transition: opacity 0.5s cubic-bezier(0.32, 0.72, 0, 1);
}

[data-vaul-overlay][data-vaul-drawer-visible="true"] {
	opacity: 1;
}

[data-vaul-drawer]::after {
	content: "";
	position: absolute;
	background: inherit;
	background-color: inherit;
}

[data-vaul-drawer][data-vaul-drawer-direction="top"]::after {
	top: initial;
	bottom: 100%;
	left: 0;
	right: 0;
	height: 200%;
}

[data-vaul-drawer][data-vaul-drawer-direction="bottom"]::after {
	top: 100%;
	bottom: initial;
	left: 0;
	right: 0;
	height: 200%;
}

[data-vaul-drawer][data-vaul-drawer-direction="left"]::after {
	left: initial;
	right: 100%;
	top: 0;
	bottom: 0;
	width: 200%;
}

[data-vaul-drawer][data-vaul-drawer-direction="right"]::after {
	left: 100%;
	right: initial;
	top: 0;
	bottom: 0;
	width: 200%;
}

[data-vaul-overlay][data-vaul-snap-points="true"]:not([data-vaul-snap-points-overlay="true"]):not(
		[data-state="closed"]
	) {
	opacity: 0;
}

[data-vaul-overlay][data-vaul-snap-points-overlay="true"]:not([data-vaul-drawer-visible="false"]) {
	opacity: 1;
}

@media (hover: hover) and (pointer: fine) {
	[data-vaul-drawer] {
		user-select: none;
	}
}
